.Table-Header {
    position: relative;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: 1%;
}

.Table-Header-TH-TD {
    position: relative;
    text-align: center;
    color: #dddddd;
    border: 2px solid #dddddd;
    padding: 8px;
}

.Product-Cat {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color: #dddddd;
    margin-top: 5%;
    
}

.ProductCats {
    position: relative;
    text-align: center;
    color: #dddddd;
    border: 2px solid #dddddd;
    padding: 8px;
}

.ProductList {
}

.Currency-Info {
    position: relative;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-top: 5%;
}

.Currency-TH {
    position: relative;
    text-align: center;
    color: #dddddd;
    border: 2px solid #dddddd;
    padding: 8px;
}

.Currency-TD {
    position: relative;
    text-align: center;
    color: #dddddd;
    border: 1px solid #dddddd;
    padding: 8px;
}